<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="Default.asp" />
                <add value="Default.htm" />
                <add value="index.aspx" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.php" />
            </files>
        </defaultDocument>		
    </system.webServer>
	<location path="images">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="colorbox">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="library">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="xajax/xajax_js/xajax_core.js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="colorbox.css">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="scw.js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
	<location path="script.js">
		<system.webServer>
			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
			</staticContent>
		</system.webServer>
	</location>
</configuration>